.about-container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding: 0 1rem;
    margin-block: 50px;
}

.about-client {
    margin-block: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}