.case-part {
    display: flex;
    margin-block: 20px;
    align-items: center;
}

.about-children {
    width: 50%;
    margin-inline: 15px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media (max-width: 992px) {
    .case-part {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-children {
        width: 100%;
        margin: 10px 0;
    }
}